
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listIPhone = ViewBag.listIphone as List<SmartPhoneShop.Web.Models.ProductViewModel>;
    var listSamSung = ViewBag.listSamSung as List<SmartPhoneShop.Web.Models.ProductViewModel>;
    var Xiaomi = ViewBag.Xiaomi as List<SmartPhoneShop.Web.Models.ProductViewModel>;
    var Camera = ViewBag.Camera as List<SmartPhoneShop.Web.Models.ProductViewModel>;
    var listCategoryIphone=ViewBag.listCategoryIphone as
        List<SmartPhoneShop.Web.Models.ProductCategoryViewModel>;
    var listCategorySamsung = ViewBag.listCategorySamsung as
        List<SmartPhoneShop.Web.Models.ProductCategoryViewModel>;
    var listCategoryXiaomi = ViewBag.listCategoryXiaomi as
        List<SmartPhoneShop.Web.Models.ProductCategoryViewModel>;
    var listCategoryCamera = ViewBag.listCategoryCamera as
        List<SmartPhoneShop.Web.Models.ProductCategoryViewModel>;
}
@{ Html.RenderAction("navigation", "Home");}
<div class="nen">
    @{ Html.RenderAction("slide", "Home");}
    <div class="section">
        <!-- container -->
        <div class="container">
            <div class="row">
                <!-- section title -->
                <!-- section title -->
                <!-- Product Single -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Iphone</h2>
                        <div class="pull-right">
                            <ol class="breadcrumb">
                                @foreach (var breadcrumb in listCategoryIphone)
                                {
                                    <li><a class="chuxanh" href="/@breadcrumb.Alias">@breadcrumb.Name</a></li>
                                   
                                }
                            </ol>
                        </div>
                    </div>
                </div>
                @foreach (var item in listIPhone)
                {
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single product-hot">
                            <div class="product-thumb">
                                @*<div class="product-label">
                                        <span class="sale">-20%</span>
                                    </div>*@
                                <a href="/iphone/@item.Alias" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi tiết</a>
                                <img alt="" src="@item.Image" height="200">
                            </div>
                            <div class="product-body ">
                                <h3 class="product-price">@string.Format("{0:#,0},000 VND", item.Price) @*<del class="product-old-price">$45.00</del>*@</h3>

                                <h2 class="product-name" >
                                    <a href="/iphone/@item.Alias">@item.Name</a>
                                </h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm Vào Giỏ Hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        <!-- /container -->
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <div class="row">
                <!-- section title -->
                <!-- section title -->
                <!-- Product Single -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">SamSung</h2>
                        <div class="pull-right">
                            <ol class="breadcrumb">
                                @foreach (var breadcrumb in listCategorySamsung)
                                {
                                    <li><a class="chuxanh" href="/@breadcrumb.Alias">@breadcrumb.Name</a></li>

                                }
                            </ol>
                        </div>
                    </div>
                </div>
                @foreach (var item in listSamSung)
                {
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single product-hot">
                            <div class="product-thumb">
                                @*<div class="product-label">
                                        <span class="sale">-20%</span>
                                    </div>*@
                                <a href="/iphone/@item.Alias" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi tiết</a>
                                <img alt="" src="@item.Image" height="200">
                            </div>
                            <div class="product-body ">
                                <h3 class="product-price">@string.Format("{0:#,0},000 VND", item.Price) @*<del class="product-old-price">$45.00</del>*@</h3>

                                <h2 class="product-name" style="white-space:initial;">
                                    <a href="/iphone/@item.Alias">@item.Name</a>
                                </h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm Vào Giỏ Hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        <!-- /container -->
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <div class="row">
                <!-- section title -->
                <!-- section title -->
                <!-- Product Single -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Xiaomi</h2>
                        <div class="pull-right">
                            <ol class="breadcrumb">
                                @foreach (var breadcrumb in listCategoryXiaomi)
                                {
                                    <li><a class="chuxanh" href="/@breadcrumb.Alias">@breadcrumb.Name</a></li>

                                }
                            </ol>
                        </div>
                    </div>
                </div>
                @foreach (var item in Xiaomi)
                {
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single product-hot">
                            <div class="product-thumb">
                                @*<div class="product-label">
                                        <span class="sale">-20%</span>
                                    </div>*@
                                <a href="/iphone/@item.Alias" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi tiết</a>
                                <img alt="" src="@item.Image" height="200">
                            </div>
                            <div class="product-body ">
                                <h3 class="product-price">@string.Format("{0:#,0},000 VND", item.Price) @*<del class="product-old-price">$45.00</del>*@</h3>

                                <h2 class="product-name"style="white-space:initial;">
                                    <a href="/iphone/@item.Alias">@item.Name</a>
                                </h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm Vào Giỏ Hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        <!-- /container -->
    </div>
    <div class="section">
        <!-- container -->
        <div class="container">
            <div class="row">
                <!-- section title -->
                <!-- section title -->
                <!-- Product Single -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Camera</h2>
                        <div class="pull-right">
                            <ol class="breadcrumb">
                                @foreach (var breadcrumb in listCategoryCamera)
                                {
                                    <li><a class="chuxanh" href="/@breadcrumb.Alias">@breadcrumb.Name</a></li>

                                }
                            </ol>
                        </div>
                    </div>
                </div>
                @foreach (var item in Camera)
                {
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single product-hot">
                            <div class="product-thumb">
                                @*<div class="product-label">
                                        <span class="sale">-20%</span>
                                    </div>*@
                                <a href="/iphone/@item.Alias" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Xem chi tiết</a>
                                <img alt="" src="@item.Image" height="200">
                            </div>
                            <div class="product-body ">
                                <h3 class="product-price">@string.Format("{0:#,0},000 VND", item.Price) @*<del class="product-old-price">$45.00</del>*@</h3>

                                <h2 class="product-name" style="white-space:initial;">
                                    <a href="/iphone/@item.Alias">@item.Name</a>
                                </h2>
                                <div class="product-btns">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm Vào Giỏ Hàng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
        <!-- /container -->
    </div>
</div>

<!-- /section -->
<!-- FOOTER -->
<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="#">
                            <img src="~/Assets/client/img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- /footer logo -->

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>

                    <!-- footer social -->
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">My Account</h3>
                    <ul class="list-links">
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Compare</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Customer Service</h3>
                    <ul class="list-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Shiping & Return</a></li>
                        <li><a href="#">Shiping Guide</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->
            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Stay Connected</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                    <form>
                        <div class="form-group">
                            <input class="input" placeholder="Enter Email Address">
                        </div>
                        <button class="primary-btn">Join Newslatter</button>
                    </form>
                </div>
            </div>
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->